 .vjs-default-skin .vjs-control.vjs-HD-button {
         display: block;
	 font-size: 1.5em;
         line-height: 2;
         position: relative;
         top: 0;
         float:right;
	 left: 10px;
         height: 100%;
         text-align: center;
         cursor: pointer;
         }
